{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {% block head %}
  <title>Barback</title>
  {% endblock %}
</head>
<body>
  {% block body %}
  <div class="container">
    <h1 class="display-2">Cocktails</h1>
    <div id="search">
      <input type="text" placeholder=" search cocktail" id="filter-search">
    </div>
    <a href="{% url 'barback:cocktail_form' %}">Create a cocktail</a>
  </div>
  <ul class="nav nav-tabs">
    <li class='nav-item'><a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All Cocktails</a></li>
    <li class='nav-item'><a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">Your Cocktails</a></li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
      {% if latest_cocktail_list %}
        {% for cocktail in latest_cocktail_list %}
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 recipe" id="{{ cocktail.cocktail_name }}">
            <div class="card">
              <img src="{{ cocktail.cocktail_image.url }}" class="card-img-top" height="185" width="278">
              <div class="card-body">
                <a href="{% url 'barback:detail' cocktail.id %}">
                  <h5 class="card-title text-center">{{ cocktail.cocktail_name }}</h5>
                </a>
                <p class="card-text text-center">{{ cocktail.cocktail_info }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
      {% if latest_cocktail_list %}
        {% for cocktail in latest_cocktail_list %}
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 recipe" id="{{ cocktail.cocktail_name }}">
            <div class="card">
              <img src="{{ cocktail.cocktail_image.url }}" class="card-img-top" height="185" width="278">
              <div class="card-body">
                <a href="{% url 'barback:detail' cocktail.id %}">
                  <h5 class="card-title text-center">{{ cocktail.cocktail_name }}</h5>
                </a>
                <p class="card-text text-center">{{ cocktail.cocktail_info }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>You have not created any Cocktails</p>
      {% endif %}
    </div>
  </div>
  {% endblock %}

  {% block javascript %}
  {% endblock %}
</body>
</html>
