{% extends 'base.html' %}

{% block javascript %}
  <script>
    $("#id_username").change(function () {
      var username = $(this).val();

      $.ajax({
        url: '/ajax/validate_username/',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert("Username is already taken");
          }
        }
      });
    });
  </script>
{% endblock %}
{% block body %}
  <div class="container">
    <h2>Create your account</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Register">
    </form>
  </div>
{% endblock %}
